{% load static %}

{% extends "kenchi/base.html" %}

{% block content %}
    <!-- LOG IN -->
    <section class="login">
        <div class="inner">
            <div class="login-container">

                <form action="{% url 'common:login' %}" method="post">
                    {% csrf_token %}
                    <!-- 로그인 성공 후 이동되는 URL -->
                    <input type="hidden" name="next" value="{{ next }}">

                    <input type="text" class="user-id" name="username" id="username" value="{{ form.username.value|default_if_none:'' }}" placeholder="  Id" />
                    <div class="material-icons id">person</div>
                    <input type="password" class="user-password" name="password" id="password" value="{{ form.password.value|default_if_none:'' }}" placeholder="  Password"/>
                    <div class="material-icons password">lock</div>
                    <button type="submit" class="btn-login">LOGIN</button>
                </form>
            </div>
        </div>
    </section>
{% endblock %}

<!-- {% include "form_errors.html" %} -->
<!-- 나중에 다시 디자인해서 넣기 -->


