{% extends "kenchi/base.html" %}

{% block content %}

<!-- SIGN UP -->
    <section class="signup">

        <div class="inner">
            <div class="signup-forms">
                <form action="{% url 'common:signup' %}" method="post" >
                    {% csrf_token %}
                    <input type="text" class="signup-userid" placeholder="User ID" name="username" id="username" value="{{ form.username.value|default_if_none:'' }}" />
                    <input type="password" class="signup-password" placeholder="password" name="password1" id="password1" value="{{ form.password1.value|default_if_none:'' }}" />
                    <input type="password" class="signup-password2" placeholder="Password Confirm" name="password2" id="password2" value="{{ form.password2.value|default_if_none:'' }}" />
                    <input type="email" class="signup-email" placeholder="E-Mail" name="email" id="email" value="{{ form.email.value|default_if_none:'' }}" />
                    <button type="submit" class="signup-btn">CREATE</button>
                </form>
            </div>
        </div>

    </section>
<!--{% include "form_errors.html" %}-->

{% endblock %}
