{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>kenchi.co.kr</title>

    <link rel="icon" href="{% static 'images/circle_mirror_me.jpg' %}">

    <!-- 오픈 그래프 -->
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="Kenchi" />
    <meta property="og:title" content="kenchi.co.kr" />
    <meta property="og:description" content="켄치파파의 연습용 사이트" />
    <meta property="og:image" content="{% static 'images/circle_mirror_me.jpg' %}" />
    <meta property="og:url" content="http://kenchi.co.kr" />

    <!-- 트위터 카드 -->
    <meta property="twitter:card" content="summary" />
    <meta property="twitter:site" content="Kenchi" />
    <meta property="twitter:title" content="kenchi.co.kr" />
    <meta property="twitter:description" content="켄치파파의 연습용 사이트" />
    <meta property="twitter:image" content="{% static 'images/circle_mirror_me.jpg' %}" />
    <meta property="twitter:url" content="http://kenchi.co.kr" />

    <!-- css 초기화 -->
    <link href="https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css" rel="stylesheet" />

    <!-- Google Fonts(Nanum Gothic Regular 400 bold 700) -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap" rel="stylesheet">

    <!-- Google material icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />

    <!-- gsap & ScrollToPlugin cdn -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/gsap.min.js" integrity="sha512-f8mwTB+Bs8a5c46DEm7HQLcJuHMBaH/UFlcgyetMqqkvTcYg4g5VXsYR71b3qC82lZytjNYvBj2pf0VekA9/FQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.11.4/ScrollToPlugin.min.js" integrity="sha512-tQFq+nb/TSS648SDzWbSj0A67t4I1PFzR0U6Oi/yEYFyUbAIwg74SOCbr7t2X1Rn+iln7sYwfh8y+z7p0gddOw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!--    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">-->

    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <!-- YOUTUBE -->
    <script defer src="{% static 'js/youtube.js' %}"></script>

<!--    <script defer src="{% static 'bootstrap.min.js' %}"></script>-->

    <script defer src="{% static 'js/main.js' %}"></script>


</head>
<body>

<!-- header -->
{% include "kenchi/header.html" %}

<!-- 기본 템플릿 안에 삽입될 내용 Start -->
{% block content %}
{% endblock %}
<!-- 기본 템플릿 안에 삽입될 내용 End -->

<!-- footer -->
{% include "kenchi/footer.html" %}

</body>
</html>
